* { letter-spacing: 3px; }

html { background-color: #272b30; }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
}

/* OVERRIDING BULMA STYLE */
.button:hover, .button:focus, .button.is-active { color: #c8c8c8; }
button.linear-grey,
#missing-list .media-element,
.box {
  background: linear-gradient(#484e55, #3a3f44 60%, #313539) no-repeat;
  color: #ddd;
  border-color: #000;
}

.control > input { background-color: #ddd }

.title, .link-button a { color: #dddddd; }

.subtitle { color: #cccccc; }

.passive a,
.label { color: #c8c8c8; }

.help.larger { font-size: 14px; }

.box:not(:last-child).mini { margin-bottom: 15px; }

strong,
select,
a,
button,
a:hover { color: #63c55f; }

select {
  background: transparent;
  height: 2em;
  width: 100%;
  border-color: #c8c8c8;
}

.is-disabled { opacity: 0.5 }

/* APP STYLE */
.spacer { margin-top: 10%; }
.spacer-large { margin-top: 20%; }
.mini-spacer { margin-top: 5%; }

#collections .box { word-wrap: break-word; }

.text-important { font-weight: bold; }

.has-control-centered > .control { text-align: center; }

::-webkit-input-placeholder { color:#444; }

::-moz-placeholder { color:#444; }

:-ms-input-placeholder { color:#444; }

input:-moz-placeholder { color:#444; }

.hidden { display: none; }

.box.box-paddingless { padding: 0; }

.box.box-paddingless > a {
  display: block;
  padding: 10px;
}

#scan > video {
  width: 100vw;
}

#scan > canvas { display: none; }
.control label input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.control > label.checkbox > span {
  vertical-align: super;
  color: #c8c8c8;
  margin-left: 10px;
}
.checkbox-center { top: 30px; }
